<h1>Here's the trip!</h1>

<h2><%=@trip.trip_name%></h2>
<%=button_to "Add to list", '/reservations', {method: :post,  params: {trip_id: @trip.id, user_id: @user_now.id}}%>
<h3>Description: <%=@trip.description%> </h3>
<h3>Guide Company: <%=link_to @trip.guide_comp.guide_comp_name, guide_comp_path(@trip.guide_comp)%></h3>
<br>
<br>
<%=button_to 'Back to Trips Page', trips_path, {method: :get}%>
