<div class="backbackground">
  <div class="page">

    <h1>Edit Account</h1>
    <%# <%=button_to "~~~#{@user_now.user_name}'s Profile Page~~~", user_path(@user_now.id), method: :get%>
    <br>
    <%if flash[:errors]%>
      <% flash[:errors].each do |error|%>
        <%= error %>
      <%end%>
    <%end%>
      <div class="forms-container">
        <div class="forms-card">
          <%=form_for @user_now do |f|%>
          <h3><%=f.label "Edit User Name:"%></h3>
          <%=f.text_field :user_name%>
          <h3><%=f.label "Edit a Password:"%></h3>
          <%=f.password_field :password%>
          <%=f.submit 'Update'%>
          <%end%>
        </div>
      </div>
    <br><br><br>
    <%=button_to 'Clear All Trips', "/users/#{@user_now.id}/clear", method: :delete%>
    <br>
    <%=button_to 'Delete Profile', delete_account_path(@user_now.id), method: :delete%>
  </div>
</div>
