<h1>Riverain Recreation</h1>


<H2>Login</h2>

<%if flash[:errors]%>
    <%= flash[:errors] %>
<%end%>

<%=form_for(@user, url: login_path) do |f|%>
<h3><%=f.label "User Name:"%></h3>
<%=f.text_field :user_name%>
<h3><%=f.label "Password:"%></h3>
<%=f.submit 'Login'%>
<%end%>


<br>
<br>
<%=button_to 'New User', users_new_path, {method: :get}%>
