<div class= login-backbackground>

  <div class="title">
    <br /><br />
    <h1>Riverain Recreation</h1>
  </div>
  <br />
  <div class="page">
    <div class="login-forms-container">

    <h2>Create Account</h2>

      <div class="flashy">
        <%if flash[:errors]%>
          <% flash[:errors].each do |error|%>
            <%= error %>
          <%end%>
        <%end%>
      </div>
  
      <div class="login-forms-card">
        <%=form_for @user do |f|%>
          <h4><%=f.label "Create User Name:"%></h4>
          <%=f.text_field :user_name%>
          <h4><%=f.label "Create a Password:"%></h4>
          <p><%=f.password_field :password%></p>
          <%=f.submit 'Create Account'%>
        <%end%>
        <br>
      <%=button_to 'Back to Login', login_path, {method: :get}%>
      </div>
    </div>
  </div>
</div>
