<div class="page">
  <h1><%=@user_now.user_name%>'s Profile Page</h1>

  <h3><%=@user_now.user_name%></h3>
  <%=button_to 'Edit Profile', edit_user_path, method: :get%>

  <%=flash[:notice]%>

  <h4>Trip List:</h4>
    <div class="trips-container">
      <ol>
      <%@user_now.reservations.each do |reservation|%>
          <div class="trip-card">
            <br />
            <h3><li><%=reservation.trip.trip_name%></li></h3>
            <%= button_to "Remove", remove_reservation_path(reservation), method: :delete%>
            <br />
          </div>
      <%end%>
      </ol>
    </div>
</div>
