<h1>Profile Page</h1>

<h3><%=@user_now.user_name%></h3>
<%=button_to 'Edit Profile', edit_user_path, method: :get%>

<%=flash[:notice]%>

<h4>Trip List:</h4>
<ol>
<%@user.reservations.each do |reservation|%>
  <li><%=reservation.trip.trip_name%></li>
  <%= button_to "Remove", remove_reservation_path(reservation), method: :delete%>
  <br />
<%end%>
</ol>
<%# <%=button_to 'Delete All Trips', trash_trips_path%>
<%# user_path(@user_now.id) %>
