<div class="page">

  <h1>Guide Company Page</h1>

  <h3><%=@comp.guide_comp_name%></h3>

  <h3>Company Id: <%=@comp.id%></h3><br />
    <%=button_to "See all Companies", "/guide_comps", method: :get%>
  <br>
    <%=button_to 'Back to Trips Page', trips_path, {method: :get}%>
  <br> <br>
  <h3>Companies Trips:</h3>

  <%@comp.trips.each do |trip|%>
    <br />
    <div class="trip-card">
      <h4><%=link_to trip.trip_name, trip_path(trip)%></h4>
      <%=flash[:notice]%>
      <p><b>Description:</b>  <%=trip.description%></p>
      <%=button_to "Add to list:", '/reservations', {method: :post,  params: {trip_id: trip.id, user_id: @user_now.id}}%>
      <br><br>
    </div>
  <%end%>
</div>
